/* CSS VARIAIBLES */  
:root {
    --primary: rgb(247, 211, 239);
    --dark: rgb(12, 1, 1);
    --light: rgb(26, 224, 92);
    --shadow: 0 1px 5px rgba(8, 8, 8, 0.8);
  }
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }
  
  body {
    /* background-color: #ccc; */
    background: rgb(245,7,132);
    background: radial-gradient(circle, rgba(245,7,132,0.8995973389355743) 15%, rgba(236,207,8,0.8911939775910365) 40%, rgba(236,62,9,0.5606617647058824) 66%, rgba(245,7,236,1) 100%);
    margin: 50px 50px;
    line-height: 1.4;
  }
  
  h1 {
    text-align: center;
    font-size: 25px;  
  }
  
  
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  
  img {
    max-width: 65%;  
 
  }
  .image{
    margin-left: 28%;
  }
  button {
    background-color: var(--dark);
    border: none;
    color: var(--light);
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 0.8rem;
    box-shadow: var(--shadow);
  }
  
  
  
  /* NAVIGATION */
  .main-nav {
    padding-bottom: 20px;  
   }
  
  .main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .main-nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: var(--primary);
    color: var(--dark);
    box-shadow: var(--shadow);
  }
  
  .main-nav a:hover {
    background-color: var(--dark);
    color: var(--light);
  }
  
  /* SHOWCASE */
  .showcase {
    background-color: var(--primary);
    text-align: left;
    padding: 1rem 0;
    box-shadow: var(--shadow);
  }
  
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;  
  }
  
  .box-a {
    align-self: center;
   
  }
  
  .showcase p {
    font-size: 20px;
  }
  
  .links {
    text-decoration: none;
    color: var(--dark); 
    font-weight: bold;
  }
  
  .showcase img {
    -ms-transform: rotate(10deg); /* IE 9 */
      -webkit-transform: rotate(10deg); /* Safari 3-8 */
      transform: rotate(10deg);
    -webkit-box-shadow: -1px 2px 15px 8px rgba(41, 41, 41, 0.75);
    -moz-box-shadow: -1px 2px 15px 8px rgba(51, 50, 50, 0.75);
    box-shadow: -1px 2px 15px 8px rgba(56, 56, 56, 0.75);
  }
  
  /* TECHNOLOGIES */
  .technologies {
    margin: 50px 25px;
  }
  
  .tech-box ul{
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    list-style: none;
    grid-template-columns: repeat(9, 1fr);
  }
  
  .technologies a {
    display: block;
    background-color: var(--primary);
    color: var(--dark);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    box-shadow: var(--shadow);  
  }
  
  .technologies a:hover {
    background-color: var(--dark);
    color: var(--light);
  }
  
  /* PORTFOLIO */
  .p-mainBox {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    text-align: center;
  }
  
  .p-box {
    background-color: var(--primary);
    padding: 1.5rem;
    box-shadow: var(--shadow);
  
  }
  
  .portfolio h3 {
    padding: 0;
    margin: 0;
  }
  
  .portfolio img {
    width: 100%;  
    margin-top: 10px;
    border-radius: 8px;
    -webkit-box-shadow: -1px 2px 24px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 24px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 24px -2px rgba(0,0,0,0.75);
    /* Gray scale */
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
  }
  
  .portfolio img:hover {
    -webkit-box-shadow: -1px 2px 15px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 15px 8px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 15px 8px rgba(0,0,0,0.75);
    /* Sepia Color */
    -webkit-filter: contrast(100%);filter: contrast(100%);
  }
  
  
  
  /* CONTACT */
  .contact {
    background-color: var(--primary);
    box-shadow: var(--shadow);
    padding-bottom: 2rem;
  }
  
  
  .contact h1 {
    padding: 3rem 0 1rem 0;
    margin-bottom: 0;  
  }
  
  .hr-box {
    margin-bottom: 1.5rem;
  }
  
  .contact form {
    text-align: left;
    font-size: 18px;
    padding: 0; 
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      ". form-box ."
      ". form-box .";  
  }
  
  .form-box {
    grid-area: form-box;
  }
  
  .contact form input, .contact form textarea {
    padding: 0.8rem;
    width: 90%;
    border-radius: 8px;
    border: 0;
    margin: 0.5rem 0;
    box-shadow: var(--shadow);
  }
  
  
  /* FOOTER */
  footer {
    text-align: center;
    margin-top: 2rem;
    background-color: var(--dark);
    color: var(--light);
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  footer a {
    color: var(--light);
  }
  
  footer a:hover {
    color: var(--light);
  }
  
  .fa-linkedin {
    padding-right: 0.5rem;
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 1000px){
  
    .main-nav ul {
      grid-template-columns: repeat(3, 1fr);
    }
    
    .technologies ul {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .p-mainBox {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 700px){
  
    .main-nav ul {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .technologies ul {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .p-mainBox {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .btn {
      display: block;
      text-align: center;
      width: 100%;
      margin: auto;    
    }
  }
  
  @media (max-width: 500px){
  
    h1 {
      font-size:20px;
    }
  
    .main-nav ul {
      grid-template-columns: 1fr;
    }
  
    .main-nav a {
      font-size: 20px;
      padding: 5px;
    }
  
    .box {
      padding: 10px;
    }
  
    .showcase p {
      font-size: 15px;
    }
    
    .technologies ul {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .technologies a {
      font-size: 15px;
      padding: 10px;
    }
  
    .p-mainBox {
      grid-template-columns: 1fr;
    }
  
    .btn {
      display: block;
      text-align: center;
      width: 100%;
      margin: auto;
    }
  
    .contact label {
      font-size: 15px;
    }
  }